# build output
dist/
.output/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# environment variables
.env
.env.production
.env.local

# macOS-specific files
.DS_Store

# translation cache
.i18n-cache/
i18n.zip

# jetbrains ide
.idea/

# vscode
.vscode/
!.vscode/extensions.json
